    <div class="d-flex align-content-stretch flex-wrap">
<% @post.each do |post| %>
        <div class="list-group-item p-2 m-2" style="min-width: 350px; width: 31%; max-width: 95vw; word-wrap: break-word;"><%= link_to post.title, post_path(post) %><p class="card-text"><%= post.body %></p></div>
<% end %>
    </div>



